

.burger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #000; 
    margin: 4px;
    transition: all 0.3s ease; 
}

.cart-icon {
    margin-right: 10px;
    color: #333;
    font-size: 24px !important;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transform: scaleX(-1);
}

.cart-icon:hover {
    color: #555;
}

.navbar {
    display: flex;
}

.navbar.hidden {
    display: none;
}

  @media (max-width: 1024px) {

    .burger {
        display: flex;
    }

    .navbar {
        display: none; 
        flex-direction: column;
        position: absolute;
        background-color: #fae8d2;
        width: 100%;
        top: 68px;
        left: 0;
        z-index: 99;
        border: 1px solid #f5b970;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        padding: 15px;
        text-align: center;
    }

    .navbar a:hover {
        color: #f5b970;
    }

    .dashboard-content {
        padding: 1px;
        margin-top: 90px;
        max-height: none; 
    }

    .metrics {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
        padding: 10px;
    }

    .metric {
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 12px; 
        text-align: center;
        margin-top: 15px;
    }

    .welcome-text {
        font-size: 32px;
    }

    .most-liked-products h2 {
        font-size: 26px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .burger.active div {
        background-color: #fff;
    }

}


@media (max-width: 1024px) {

    .profile-dropdown{
        display: none;
    }

    .mobile-account-links {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    .mobile-account-links a {
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: #fae8d2;
        margin: 0 auto;
        width: 90%;
        border-radius: 5px;
        padding: 15px;
    }

}

@media (min-width: 1024px) {
    .mobile-account-links {
        display: none;
    }
}